@import '../../styles/utils';

.Menu {
  text-transform: uppercase;
  z-index: 2;

  &__content {
    padding-top: 24px;

    @include onMobile {
      padding: 18px 12px 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }

  &__close-icon {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('../../images/icons/cross.svg');
    border: none;
  }
}
