$color-background: #232a36; 
$color-section-background: rgba(255, 255, 255, 0.07);
$color-branding: #39afc9;
$color-text: rgba(255, 255, 255, 0.70);
$color-arrow-active: #bcabfe;
$color-arrow-disabled: rgba(188, 171, 254, 0.07);
$color-button-background: rgba(57, 175, 201, 0.07);
$color-placeholder: #c1c4c7;

$transition: all 300ms ease-in-out;
$transition-images: all 500ms ease-in;