@import '../../styles/utils';

.About {
  @extend %big-container;
  background-color: $color-section-background;

  &__content {
    display: flex;
    justify-content: space-between;

    @include onMobile {
      flex-direction: column-reverse;
      padding: 10px 20px 40px;
    }
  }

  &__text-section {
    max-width: 454px;
    padding: 84px 0 84px 64px;

    @include onTablet {
      max-width: 280px;
      padding: 34px 0 34px 44px;
    }

    @include onMobile {
      max-width: 100%;
      padding: 0;
      margin-top: 16px;
    }
  }

  &__title {
    color: $color-branding;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 8px;
  }

  &__subtitle {
    color: #fff;
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    margin-bottom: 16px;

    @include onTablet {
      font-size: 44px;
      line-height: 44px;
      margin-bottom: 10px;
    }

    @include onMobile {
      font-size: 38px;
      line-height: 38px;
    }
  }

  &__paragraph {
    @extend %section-paragraph;
    margin-bottom: 24px;
  }

  &__button {
    @extend %button-branding;
    box-sizing: border-box;
    display: block;
    width: max-content;

    @include onMobile {
      width: 100%;
    }
  }

  &__img-section {
    background-image: url("../../images/decorations/Group2.png"),
      url("../../images/decorations/Group3.png");
    background-repeat: no-repeat;
    background-position: right, left;
    background-size: contain;

    width: 50%;
    position: relative;

    @include onMobile {
      width: 100%;
      background-size: 50%;
      padding-top: 20px;
    }
  }

  &__img {
    width: 100%;
    // max-width: 550px;
    max-width: 500px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include onTablet {
      // max-width: 400px;
      max-width: 360px;
    }

    @include onMobile {
      position: static;
      transform: none;
      display: block;
      margin: 0 auto;

      max-width: 250px;
    }
  }
}