@import '../../styles/utils';

.Header {
  @extend %big-container;
  padding: 0 52px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;

  background-color: $color-background;
  z-index: 2;

  @include onTablet {
    height: 82px;
  }

  @include onMobile {
    padding: 0 12px;
    height: 70px;
  }

  &__content {
    padding: 24px 0;
    display: flex;
    align-items: center;

    @include onTablet {
      padding: 20px 0;
      justify-content: space-between;
    }

    @include onMobile {
      padding: 18px 0;
    }
  }

  &__logo {
    margin-right: 48px;

    @include onTablet {
      margin-right: 0;
    }
  }

  &__nav {
    @include onMobile {
      display: none;
    }
  }

  &__menu-icon {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('../../images/icons/menu.svg');
    border: none;

    @include onMobile {
      display: block;
      margin-right: 10px;
    }
  }
}