@import '../../styles/utils';

.Certificates {
  padding-top: 80px;

  &__content {
    height: 496px;
    background-color: $color-section-background;
    display: flex;

    @include onTablet {
      height: 584px;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px;
    }

    @include onMobile {
      padding: 10px 20px 40px;
    }
  }

  &__text-section {
    box-sizing: border-box;
    max-width: 400px;
    padding: 56px 0 56px 40px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include onTablet {
      padding: 0;
      margin: 0 0 20px;
      max-width: 100%;
    }
  }

  &__title {
    @extend %section-title;
    margin-bottom: 16px;
  }

  &__testimonial {
    @extend %section-paragraph;
    margin-bottom: 16px;
    flex-grow: 1;

    @include onTablet {
      flex-grow: unset;
      height: max-content;
    }
  }

  &__buttons {
    @include onTablet {
      display: flex;
      justify-content: space-between;
    }

    @include onMobile {
      flex-direction: column;
    }
  }

  &__arrows {
    margin-bottom: 40px;

    @include onTablet {
      margin: 0;
    }

    @include onMobile {
      margin-bottom: 14px;
    }
  }

  &__contact-button {
    @extend %button-branding;
    box-sizing: border-box;
    width: max-content;

    @include onMobile {
      width: 100%;
    }
  }

  &__img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    position: relative;

    @include onTablet {
      display: block;

    }
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    object-fit: contain;
    object-position: left top;

    @include onTablet {
      position: static;
      transform: none;
      display: block;
      margin: 0 auto;
      animation: none; 
    }

    &--front {
      max-width: 548px;
      max-height: 386px;
      top: -24px;
      z-index: 1;

      animation: slideUpFront;
      animation-duration: 0.8s;

      @include onTablet {
        max-width: 440px;
        max-height: auto;
      }
    }

    &--back {
      max-width: 488px;
      max-height: 336px;
      bottom: -112px;

      animation: slideUpBack;
      animation-duration: 1s;

      @include onTablet {
        display: none;
      }
    }
  }
}

@keyframes slideUpFront {
  0% {
    top: 0;
  }

  100% {
    top: -24px;
  }
}

@keyframes slideUpBack {
  0% {
    bottom: -136px;
  }

  100% {
    bottom: -112px;
  }
}

.slide-enter,
.slide-behind-enter {
  opacity: 0;
}

.slide-enter-active,
.slide-behind-enter-active {
  opacity: 1;
  transition: $transition-images;
}

.slide-exit,
.slide-behind-exit {
  opacity: 1;
}

.slide-exit-active,
.slide-behind-exit-active {
  opacity: 0;
  transition: $transition-images;

  @include onTablet {
    transition-duration: 0s;
  }
}