@import '../../styles/utils';

.Certificates {
  padding-top: 80px;

  &__content {
    height: 530px;
    background-color: $color-section-background;
    display: flex;

    @include onTablet {
      height: 320px;
      padding: 28px 20px;
    }

    @include onMobile {
      flex-direction: column;
      height: 500px;
      padding: 20px 20px 40px;
    }
  }

  &__text-section {
    box-sizing: border-box;
    max-width: 400px;
    padding: 56px 0 56px 40px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include onTablet {
      padding: 0;
      max-width: 40%;
    }

    @include onMobile {
      height: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  &__title {
    @extend %section-title;
    margin-bottom: 16px;

    @include onTablet {
      margin-bottom: 10px;
    }
  }

  &__testimonial {
    @extend %section-paragraph;
    margin-bottom: 16px;
    flex-grow: 1;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onMobile {
      flex-grow: unset;
      margin-bottom: 14px;
    }
  }

  &__actions {
    @include onMobile {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }
  }

  &__arrows {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__contact-button {
    @extend %button-branding;
    box-sizing: border-box;
    width: max-content;

    @include onMobile {
      height: fit-content;
    }
  }

  &__img-container {
    display: none;

    @include onMobile {
      display: block;
      position: relative;
      max-width: 100%;
      height: 300px;
    }
  }

  &__img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    position: relative;

    @include onMobile {
      display: none;
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;
    object-fit: contain;

    @include onTablet {
      top: 60%;
    }

    @include onMobile {
      transform: none;
      transition: $transition;
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.frontSlide {
  max-width: 550px;
  max-height: 370px;

  width: 90%;
  z-index: 1;
  transform: translate(-50%, -80%);

  @include onTablet {
    transform: translate(-50%, -100%);
  }
}

.frontSlide-enter {
  opacity: 0;
}

.frontSlide-enter-active {
  opacity: 1;
}

.frontSlide-exit {
  opacity: 1;
}

.frontSlide-exit-active {
  opacity: 0;
}

.backSlide {
  max-width: 488px;
  max-height: 335px;
  width: 80%;
  transform: translate(-50%, 10%);

  @include onTablet {
    transform: translate(-50%, -20%);
  }
}

.backSlide-enter {
  opacity: 0;
}

.backSlide-enter-active {
  opacity: 1;
}

.backSlide-exit {
  opacity: 1;

}

.backSlide-exit-active {
  opacity: 0;
}