@import '../../styles/utils';

.Nav {
  display: flex;
  align-items: center;
  color: #fff;

  @include onMobile {
    flex-direction: column;
    text-align: center;
  }

  & > :not(:last-child) {
    margin-right: 48px;

    @include onTablet {
      margin-right: 22px;
    }

    @include onMobile {
      margin: 0 0 40px;
    }
  }
}

.NavButton {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  transition: $transition;

  &:hover {
    color: $color-branding;
  }

  @include onTablet {
    font-size: 14px;
  }

  @include onMobile {
    font-size: 20px;
  }


  &--contacts {
    @extend %button-branding-outline;

    &:hover {
      color: #fff;
    }

    @include onMobile {
      padding: 16px 28px;
    }
  }
}